# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

### react ###
.DS_*
*.log
logs
node_modules
.cache
**/*.backup.*
**/*.back.*

# node_modules
bower_components

*.sublime*

psd
thumb
sketch


# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

# End of https://www.toptal.com/developers/gitignore/api/react